.form {
  margin: 0 auto;
  max-width: 400px;
  padding: 12px;
  border: 1px solid #000;
}

.title {
  text-align: center;
}

.field {
  margin-bottom: 8px;
}

.field label {
  display: inline-block;
  width: 110px;
}
