.movie {
  max-width: 400px;
  cursor: pointer;
}

.img-container {
  width: 200px;
  margin-right: 24px;
}

.img-container img {
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
}

.grow {
  flex: 1;
}
